@import "~bootstrap/scss/bootstrap";
@import "trix";

#application-header{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#title-nav{
  margin-left: 45%;
}

#login{
  width: 30%;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
}

#title-login{
  align-self: center;
  padding-bottom: 10px;
}

#login-card {
  align-self: center;
}

